.charList {
  margin-top: 50px;
  min-height: 53vh;
  &__title {
    font-family: "Creepster", cursive;
    font-size: 100px;
    font-weight: 700;
    font-style: italic;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &--item {
      margin: 25px;
    }
  }
  &__message {
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    color: black;
    text-align: center;
    margin-top: 80px;
  }
}
