.character {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 25px;
  margin: 15px;
  background-color: black;
  &__img {
    margin: 0;
    height: 160px;
    width: 160px;
  }
  &__wrap {
    margin: 12px 0 6px 0;
    display: flex;
    flex-direction: column;
    width: 150px;
  }
  &__name {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    text-align: left;
    margin: 0 0 6px 0;
    color: white;
  }
  &__species {
    font-weight: 300;
    font-size: 18px;
    // text-align: left;
    color: white;
    padding: 3px 0;
    display: inline;
  }
}

.fas {
  margin: 0 6px;
}
