@import "../core/variables.scss";
@import "../core/functions.scss";
@import "../core/mixins.scss";

.charDetail {
  max-width: rem(360);
  margin: rem(50) auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
  @include tablet {
    min-width: 80%;
  }
  @include desktop {
    min-width: 60%;
  }
  &__link {
    display: flex;
    flex-direction: column;
    color: $alien;
  }
  &__back {
    font-family: $plain-text;
    font-size: rem(18);
    padding-left: rem(4);
  }
  &__img {
    border-radius: 6%;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: rem(24);
    padding: rem(50) rem(35);
    background-color: $basic-dark;
    @include tablet {
      flex-direction: row;
      align-items: center;
      justify-content: left;
    }
  }
  &__info {
    padding: rem(40) 0 0 0;
    color: $basic-light;
    font-size: rem(22);
    line-height: rem(34);
    align-self: flex-start;
    @include tablet {
      padding: 0 0 0 rem(40);
    }
    &--name {
      font-weight: 700;
      font-size: rem(40);
      line-height: rem(50);
      text-transform: uppercase;
      margin-bottom: rem(15);
      color: $alien;
    }
  }
}

.fa-arrow-alt-circle-left {
  margin: 0 rem(8) rem(10) 0;
  text-align: end;
}
