@import "../core/variables.scss";
@import "../core/functions.scss";
@import "../core/mixins.scss";
.charList {
  margin-top: rem(50);
  min-height: 53vh;
  &__title {
    font-family: $titles;
    font-size: rem(70);
    font-weight: 700;
    font-style: italic;
    color: $alien;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: rem(10);
    @include tablet {
      font-size: rem(100);
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(20, 1fr);
    column-gap: rem(25);
    row-gap: rem(25);
    align-items: stretch;
    justify-items: center;
    margin-bottom: rem(30);

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(7, 1fr);
      column-gap: rem(25);
      row-gap: rem(25);
    }
    @include desktop {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
      column-gap: rem(25);
      row-gap: rem(25);
    }
  }
  &__message {
    font-size: rem(36);
    font-weight: 700;
    font-style: italic;
    color: $alien;
    text-align: center;
    margin-top: rem(80);
  }
}
