@import "../core/mixins.scss";

.charDetail {
  max-width: 360px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
  @include tablet {
    min-width: 80%;
  }
  @include desktop {
    min-width: 60%;
  }
  &__link {
    display: flex;
    flex-direction: column;
    color: white;
  }
  &__back {
    font-family: "Courier Prime", monospace;
    font-size: 18px;
    padding-left: 4px;
  }
  &__img {
    border-radius: 6%;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    padding: 50px 35px;
    background-color: black;
    @include tablet {
      flex-direction: row;
      align-items: center;
      justify-content: left;
    }
  }
  &__info {
    padding: 40px 0 0 0;
    color: white;
    font-size: 22px;
    line-height: 34px;
    align-self: flex-start;
    @include tablet {
      padding: 0 0 0 40px;
    }
    &--name {
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      text-transform: uppercase;
      margin-bottom: 15px;
      color: chartreuse;
    }
  }
}

.fa-arrow-alt-circle-left {
  margin: 0 8px 10px 0;
  text-align: end;
}
