@import "../core/variables.scss";
@import "../core/functions.scss";
@import "../core/mixins.scss";

.filters {
  background-color: $alien;
  padding: rem(30) rem(20) rem(40);
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: left;
  @include tablet {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  &__title {
    font-weight: 700;
    font-style: italic;
    font-size: rem(18);
    text-align: left;
    color: $basic-dark;
    margin-bottom: rem(5);
  }
  &__search {
    width: 50%;
    margin-bottom: rem(16);
    &--check {
      display: block;
      margin-top: rem(12);
    }
    @include tablet {
      display: inline;
    }
  }
  &__label {
    margin-right: rem(8);
    &--check {
      text-align: left;
      margin-top: rem(8);
    }
  }
  &__input {
    margin-right: rem(30);
    padding: rem(10) rem(20);
    border-radius: rem(24);
    border: rgb(97, 160, 33) rem(2) dotted;
    background-color: rgb(212, 250, 173);
    font-family: $plain-text;
    &--check {
      text-align: left;
      margin-right: rem(8);
    }
    &--name {
      margin-right: rem(18);
    }
  }
}
.labelName {
  margin-bottom: rem(8);
}
