@import "../core/mixins.scss";

.filters {
  background-color: chartreuse;
  padding: 30px 20px 40px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: left;
  @include tablet {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  &__title {
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    text-align: left;
    color: black;
    margin-bottom: 5px;
  }
  &__search {
    width: 50%;
    margin-bottom: 16px;
    @include tablet {
      display: inline;
    }
  }
  &__label {
    margin-right: 8px;
  }
  &__input {
    margin-right: 30px;
  }
}
