@import "../core/variables.scss";
@import "../core/functions.scss";
@import "../core/mixins.scss";

.footer {
  background-color: $basic-dark;
  text-align: center;
  padding: rem(20) rem(25);
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  &__small {
    color: $sky;
    font-weight: 700;
  }
}
