@import "../mixins.scss";

.header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  &__img {
    height: 95px;
    @include tablet {
      height: 150px;
    }
  }
}
