@import "../core/variables.scss";
@import "../core/functions.scss";
@import "../core/mixins.scss";

.header {
  background-color: $basic-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(40);
  &__img {
    height: rem(95);
    @include tablet {
      height: rem(150);
    }
  }
}
