@import "../core/variables.scss";
@import "../core/functions.scss";
@import "../core/mixins.scss";
.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $alien;
  min-height: 90vh;
  flex-grow: 2;
  text-align: center;
  &__title {
    font-family: $titles;
    font-size: rem(90);
    font-weight: 700;
    font-style: italic;
    margin-bottom: rem(10);
    text-transform: uppercase;
  }
  &__text {
    font-weight: 300;
    font-size: rem(20);
    line-height: rem(25);
    margin-bottom: rem(30);
  }
  &__link {
    display: flex;
    flex-direction: column;
    color: $alien;
    align-items: center;
  }
  &__back {
    font-family: $plain-text;
    font-size: rem(18);
    padding-left: rem(4);
  }
}
