@import "./core/mixins.scss";

.App {
  font-family: "Courier Prime", monospace;
}
.wrapper {
  margin: 0 20px;
  @include tablet {
    margin: 0 50px;
  }
  @include desktop {
    margin: 0 auto;
    max-width: 1200px;
  }
}
.main {
  display: flex;
  flex-direction: column;
}
