@import "./core/variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
ul,
li {
  list-style-type: none;
}
body {
  background-image: linear-gradient(to bottom, $sky 25%, $sky 100%),
    url(../images/sky.jpg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hidden {
  display: none;
}
.block {
  display: block;
}
