* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
ul,
li {
  list-style-type: none;
}
body {
  background-color: #04afc7;
}
.hidden {
  display: none;
}
.block {
  display: block;
}
