// colors
$alien: chartreuse;
$sky: #04afc7;
$basic-light: white;
$basic-dark: black;

// fonts
$titles: "Creepster", cursive;
$plain-text: "Courier Prime", monospace;

// default-size
$defaultFontSize: 16;
